<template>
  <div class="about">
    <button @click="sair">SAIR</button>
  </div>
</template>

<script>
import firebase from 'firebase';
export default {
name: 'sair',
components: {

},
methods: {
  sair: function(){
    firebase.auth().signOut().then(() => {
      this.$router.replace('login')
    })
  }
}
}
</script>