<template>
  <div class="container-fluid mt-4">
    <h1 class="h1">Cadastro de Contas</h1>
    <b-alert :show="loading" variant="info">Loading...</b-alert>
    <b-row>
      <b-col>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome da conta</th>
              <th>Status da conta </th>
              <th>Saldo da conta</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="post in posts" :key="post._id">
              <td>{{ post._id }}</td>
              <td>{{ post.contanome }}</td>
              <td>{{ post.status }}</td>
              <td>{{ post.saldo }}</td>
              <td class="text-right">
                <a href="#" @click.prevent="populatePostToEdit(post)">Edit</a> -
                <a href="#" @click.prevent="deleteConta(post._id)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </b-col>
      <b-col lg="3">
        <b-card :title="(model.id ? 'Editar conta ID#' + model.id : 'Nova Conta')">
          <form @submit.prevent="savePost">
            <b-form-group label="Nome da conta">
              <b-form-input type="text" v-model="model.contanome"></b-form-input>
            </b-form-group>
            <b-form-group label="status">
              <b-form-input type="text" v-model="model.status"></b-form-input>
            </b-form-group>
            <b-form-group label="saldo">
              <b-form-input type="number" min="0" v-model="model.saldo"></b-form-input>
            </b-form-group>
            <div>
              <b-btn type="submit" variant="success">Salvar Conta</b-btn>
            </div>
          </form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import firebase from 'firebase';
import api from '../api/api'

export default {
  name: 'home',
  data () {
    return {
      loading: false,
      posts: [],
      model: {}
    }
  },
  async created () {
    this.refreshPosts()
  },
    components: {

    },
    methods: {
      async refreshPosts () {
      this.loading = true
      this.posts = await api.getConta()
      this.loading = false
    },
    async populatePostToEdit (post) {
      //this.model = Object.assign({}, post)
      if (confirm('Tem certeza de que quer alterar essa conta?')) {
      this.model = {
        id : post._id,
        contanome: post.contanome,
        status: post.status,
        saldo: post.saldo
      }
      }
    },
    async savePost () {
      if (this.model.id) {
        await api.updateConta(this.model.id, this.model).then(alert("Registro alterado com sucesso!"))
      } else {
        await api.createConta(this.model)
      }
      this.model = {} // reset form
      await this.refreshPosts()
    },
    async deleteConta (id) {
      if (confirm('Tem certeza de que quer apagar essa transação?')) {
        // if we are editing a post we deleted, remove it from the form
        if (this.model.id === id) {
          this.model = {}
        }
        await api.deleteConta(id)
        await this.refreshPosts()
      }
    },
      sair: function() {
        firebase.auth().signOut().then(()=> {
          this.$router.replace('login')
      })
    }
  }
}
</script>
