<template>
  <div class="container-fluid mt-4">
    <h1 class="h1">Transacoes</h1>
    <b-alert :show="loading" variant="info">Loading...</b-alert>
    <b-row>
      <b-col>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome da Transacao</th>
              <th>Valor</th>
              <th>Conta</th>
              <th>Updated At</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="post in posts" :key="post._id">
              <td>{{ post._id }}</td>
              <td>{{ post.nomeTransacao }}</td>
              <td>{{ post.valor }}</td>
              <td>{{ post.conta }}</td>
              <td>{{ post.updatedAt }}</td>
              <td class="text-right">
                <a href="#" @click.prevent="populatePostToEdit(post)">Edit</a> -
                <a href="#" @click.prevent="deleteTransacao(post._id)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </b-col>
      <b-col lg="3">
        <b-card :title="(model.id ? 'Editar Transação ID#' + model.id : 'Nova Trasacao')">
          <form @submit.prevent="savePost">
            <b-form-group label="Nome da Transacao">
              <b-form-input type="text" v-model="model.nomeTransacao"></b-form-input>
            </b-form-group>
            <b-form-group label="valor">
              <b-form-input type="number" min="0" max="9999" v-model="model.valor"></b-form-input>
            </b-form-group>
             <b-form-group label="conta">
              <b-form-input type="number" min="0" max="00000" v-model="model.conta"></b-form-input>
            </b-form-group>
            <div>
              <b-btn type="submit" variant="success">Salvar Transacao</b-btn>
            </div>
          </form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import firebase from 'firebase';
import api from '../api/api'

export default {
  name: 'home',
  data () {
    return {
      loading: false,
      posts: [],
      model: {}
    }
  },
  async created () {
    this.refreshPosts()
  },
    components: {

    },
    methods: {
      async refreshPosts () {
      this.loading = true
      this.posts = await api.getTransacao()
      this.loading = false
    },
    async populatePostToEdit (post) {
      //this.model = Object.assign({}, post)
      this.model = {
        id : post._id,
        nomeTransacao: post.nomeTransacao,
        valor: post.valor,
        conta: post.conta
      }
      alert("Registro alterado!")
    },
    async savePost () {
      if (this.model.id) {
        await api.updateTransacao(this.model.id, this.model)
      } else {
        await api.createTransacao(this.model)
      }
      this.model = {} // reset form
      await this.refreshPosts()
    },
    async deleteTransacao (id) {
      if (confirm('Tem certeza de que quer apagar essa transação?')) {
        // if we are editing a post we deleted, remove it from the form
        if (this.model.id === id) {
          this.model = {}
        }
        await api.deleteTransacao(id)
        await this.refreshPosts()
      }
    },
      sair: function() {
        firebase.auth().signOut().then(()=> {
          this.$router.replace('login')
      })
    }
  }
}
</script>
